.video-background-container {
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Hide any overflow */
  z-index: -1; /* Place video behind other content */
}

.video-element {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure video covers the entire container */
}

/* .content-overlay {
  position: relative;
  z-index: 1; 
  padding: 2rem; 
  text-align: center;
  color:#f0ecb2;
}  */
