.bod {
    display: flex;
    height: 100%;
    width: 100%; 
}

.navContain {
    display:flex;
    position: static;
    min-height:100vh;
    min-width: fit-content;
    background-color: black;
}

.pageContain {
    width:auto;
}

.page{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2.5%;
    font-size: 20px;
    color: rgba(193, 237, 182, 0.805);
    background-color: rgb(0, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.page > h1{
    color:blueviolet;
    justify-content: center; 
    align-self: center;
    margin-bottom: 4%;
}

.page > h2{
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    border-bottom: solid rgb(118, 232, 19) 2px;
    justify-self: center; 
    align-content: center;
}

.cardContain {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    height: 10em;
    width: 10em;
}

